/* Page Styles */ 

body {
    font-family: monospace, helvetica, sans-serif;
    margin: 20px;
    background-color: #2c3e50;
}
/* Header Styles */
header {
    background-color: #5a7d9a;
    font-size: 24px;
    color: #d8b26e;
    padding: 20px;
    text-align: center;
    text-decoration: bold;
}
/* Navigation Styles */
nav {
    background-color: #34495e;
    padding: 10px;
    text-align: center;
}
nav a {
    color: #d8b26e;
    text-decoration: bold;
    margin: 0 10px;
}
/* Section Styles */
section {
    margin: 20px 0;
    padding: 20px;
    font-size: 14px;
    background-color: #4e7c7b;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

/* Image Styles */
img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Footer Styles */
footer {
    background-color: #34495e;
    color: #d8b26e;
    padding: 10px;
    text-align: right;
    text-decoration: italic;
}   

.intro {
    font-size: 18px;
    color: #d8b26e;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: bold;
}

#title {
    font-size: 24px;
    color: #d8b26e;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: bold;
}
